<!doctype html>
<html ng-app="mylms">
  <head> 

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Car Pooling</title>

    <!-- bootstrap.min -->
    <link rel="stylesheet" href="css/bootstrap.min.css"> 
	 <script src="js/jquery.min.js"></script>
	 <script src="js/bootstrap.min.js"></script>
	<!-- Page styles -->
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="fonts/font.css">
	
	
  <link rel="stylesheet" href="js/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
	
	table {
    
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

    </style>
	
		<script>
		function onLoad() 
		{
			document.addEventListener("deviceready", deviceReady, false);
		}
		function deviceReady() 
		{
			document.addEventListener("backbutton", backButtonCallback, false);
		}
		function backButtonCallback() 
		{
			navigator.app.backHistory();
		}
		</script>
	<script src="js/angular-1.3.js"></script>
	<script src="js/angular_cookies.js"></script>

  </head>
  <body ng-controller="myLMSCtrl">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
      <div id="head1" style="color:#336633; font-family:Quicksand; font-size: 25px; margin-left:-20px;"><b>Car Pooling</b></div>
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          
          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
             <a class="mdl-navigation__link" href="view_trip.html">View Trip</a>
			
		  <a class="mdl-navigation__link" href="payment_dtl.html">Debit Details</a>
		  <a class="mdl-navigation__link" href="credit_payment.html">Credit Payment</a>
		 
		  <a class="mdl-navigation__link" type= "submit" ng-click="logout()">Logout</a>
          
            </nav>
          </div>
          <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="images/android-logo.png">
          </span>
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
         		  

        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="images/android-logo-white.png">
        </span>
        <nav class="mdl-navigation">
		
		  <a class="mdl-navigation__link" href="view_trip.html">View Trip</a>
		 
		  <a class="mdl-navigation__link" href="payment_dtl.html">Debit Details</a>
		  <a class="mdl-navigation__link" href="credit_payment.html">Credit Payment</a>
		 
		  
          
		  
		  <a class="mdl-navigation__link" type= "submit" ng-click="logout()">Logout</a>
        </nav>
      </div>

      <div class="android-content mdl-layout__content">
        <a name="top"></a>
      
    </div>
						<div style="position: relative; left:50px;width:1000px;">
                            <input ng-model="search_field" type="text" style="width:300px;" required />
                            <label>Search</label>
                            <span></span> 
							</div>
				
		  
		  <div class="logo-font android-slogan" style="margin-left:50px;">View customer post</div><br>
			<div class="row">
				<div class="col-md-12 col-xs-12"  ng-repeat="x in my_post_trip_details| filter : search_field ">
				<p style="font-size:30px;color:#f400eb;font-weight: bold;line-height:1.5em;">Name:{{x.name}}</p>
				<p style="font-size:30px;color:#3e00f4;font-weight: bold;line-height:1.5em;">Address:{{x.address}}</p>
				<p style="font-size:20px;color:black;font-weight: bold;line-height:1.5em;">Seat: {{x.free_seat}} </p>		
				<p style="font-size:20px;color:black;font-weight: bold;line-height:1.5em;">Category: {{x.category}} </p>
				<p style="font-size:20px;color:black;font-weight: bold;line-height:1.5em;">Email: {{x.email}}</p>				
				
				
				</div>
			</div>
    
    <script src="js/material.min.js"></script>
    <script src="js/angular_car_data.js"></script>
  </body>
</html>
